<section>
    <div class="w-full relative h-auto">
        <div class="relative z-10 w-full bg-white/95">
            <div class="xl:max-w-7xl mx-auto">
                <div class="py-12 px-4 flex flex-col gap-8 items-center justify-center md:flex-row md:px-6 lg:px-2 xl:py-[140px] xl:items-start xl:gap-[218px] 2xl:px-0">
                    <div class="w-full flex flex-col items-center justify-center gap-4 xl:max-w-[543px]">
                        <div class="text-heading-2 font-semibold w-full uppercase">trải nghiệm tập <span class="text-primary-1">07 ngày miễn phí</span> tại các cơ sở seventh fitness</div>
                        <div class="text-body-1 text-neutral-1-700 font-normal w-full">Hãy thử điều gì đó mới mẻ trong năm nay bằng cách tham gia thế giới trải nghiệm thú vị và vui nhộn từ chúng tôi. Chúng tôi cung cấp DÙNG THỬ MIỄN PHÍ 7 ngày cho tất cả khách mới. Để lại thông tin của bạn bên cạnh và chúng tôi sẽ liên hệ với bạn trong 24 giờ tới.</div>
                    </div>
                    <div class="w-full text-body-1 text-neutral-1-700 font-normal xl:max-w-[519px]">
                        <form action="" class="w-full flex flex-col gap-6">
                            <div *ngFor="let input of inputs" class="relative py-4 border-b border-secondary-1 w-full">
                                <input type="{{input.type}}" name="{{input.name}}" id="{{input.id}}" placeholder="{{input.placeholder}}" [required]="input.required" class="w-full bg-transparent outline-none peer">
                                <span class="absolute left-0 -bottom-0.5 h-0.5 w-0 bg-primary-1 transition-all duration-500 ease-in-out peer-focus:w-full"></span>
                            </div>
                            <div class="pt-6">
                                <button type="button" class="py-[9px] px-[17px] text-header-2 font-medium primary-button hover:bg-transparent">Đăng ký tư vấn</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="absolute left-0 top-0 w-full h-full">
            <img src="/assets/img/home/black_white_gym.png" alt="Background1" class="w-full h-full object-cover">
        </div>
    </div>
</section>
