
<main>
    <!-- sub header -->
    <app-sub-header page="service">
        <div class="text-heading-2 font-semibold w-full uppercase">CÁC <span class="text-primary-1">DỊCH VỤ</span> CỦA CHÚNG TÔI</div>
        <div class="text-body-1 text-white/80 font-normal w-full xl:w-[628px]">Chương trình luyện tập được thiết kế khoa học và phù hợp từ chuyên gia <br class="hidden md:block">sẽ giúp bạn đạt được mục tiêu sức khỏe và hình thể.</div>
    </app-sub-header>

    <!-- service -->
    <app-section-service [isHasHeader]="false"></app-section-service>

    <!-- form đăng ký tư vấn-->
    <app-section-register></app-section-register>

</main>
