/* font-weight: thin/100 */
@font-face {
  font-family: 'Saira SemiCondensed';
  font-style: normal;
  font-weight: 100;
  src: local('saira-semicondensed.thin'), url("saira-semicondensed.thin.ttf") format('truetype');
}

/* font-weight: xlight/200 */
@font-face {
  font-family: 'Saira SemiCondensed';
  font-style: normal;
  font-weight: 200;
  src: local('saira-semicondensed.extralight'), url("saira-semicondensed.extralight.ttf") format('truetype');
}

/* font-weight: light/300 */
@font-face {
  font-family: 'Saira SemiCondensed';
  font-style: normal;
  font-weight: 300;
  src: local('saira-semicondensed.light'), url("saira-semicondensed.light.ttf") format('truetype');
}

/* font-weight: regular/400 */
@font-face {
  font-family: 'Saira SemiCondensed';
  font-style: normal;
  font-weight: 400;
  src: local('saira-semicondensed.regular'), url("saira-semicondensed.regular.ttf") format('truetype');
}

/* font-weight: medium/450 */
@font-face {
  font-family: 'Saira SemiCondensed';
  font-style: normal;
  font-weight: 500;
  src: local('saira-semicondensed.medium'), url("saira-semicondensed.medium.ttf") format('truetype');
}

/* font-weight: semibold/600 */
@font-face {
  font-family: 'Saira SemiCondensed';
  font-style: normal;
  font-weight: 600;
  src: local('saira-semicondensed.semibold'), url("saira-semicondensed.semibold.ttf") format('truetype');
}

/* font-weight: bold/700 */
@font-face {
  font-family: 'Saira SemiCondensed';
  font-style: normal;
  font-weight: 700;
  src: local('saira-semicondensed.bold'), url("saira-semicondensed.bold.ttf") format('truetype');
}

/* font-weight: xbold/800 */
@font-face {
  font-family: 'Saira SemiCondensed';
  font-style: normal;
  font-weight: 800;
  src: local('saira-semicondensed.extrabold'), url("saira-semicondensed.extrabold.ttf") format('truetype');
}

/* font-weight: black/900 */
@font-face {
  font-family: 'Saira SemiCondensed';
  font-style: normal;
  font-weight: 900;
  src: local('saira-semicondensed.black'), url("saira-semicondensed.black.ttf") format('truetype');
}
