<main>
    <!-- subheader -->
    <app-sub-header page="news">
        <div class="text-heading-2 font-semibold w-full uppercase">TIN TỨC VÀ SỰ KIỆN</div>
        <div class="text-body-1 text-white/80 font-normal w-full xl:w-[628px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor, adipiscing neque, <br class="hidden md:block">in adipiscing senectus tristique sed cursus.</div>
    </app-sub-header>

    <!-- blog list -->
    <app-section-news [isHasHeader]="false" numCards="full" page="news"></app-section-news>
    
    <!-- form đăng ký tư vấn-->
    <app-section-register></app-section-register>

</main>
