<div class="w-full relative">
    <div class="max-w-[1920px] mx-auto relative pb-12 md:pb-20 xl:pb-[100px]">
        <div class="mx-auto relative z-10 xl:max-w-7xl">
            <div
                class="relative h-full px-4 flex flex-col gap-[157px] md:gap-[192px] md:px-6 lg:px-2 2xl:px-0 xl:flex-row xl:gap-[109px]">
                <div class="w-full flex justify-end pt-[34px] md:pt-[84px] xl:pb-[106px] xl:pt-[11px] xl:w-fit">
                    <div class="py-8 bg-secondary-1 max-w-[545px] px-6 md:w-[545px]">
                        <div class="mx-auto flex flex-col gap-12 text-white md:w-[409px]">
                            <div class="text-heading-2 font-semibold text-center w-full">
                                VÌ SAO BẠN NÊN TẬP LUYỆN TẠI <span class="text-primary-1">SEVENTH FITNESS</span>
                            </div>
                            <div class="w-full flex flex-col gap-y-12">
                                <div *ngFor="let key of items" class="flex justify-between w-full">
                                    <div *ngFor="let item of key" class="w-[147px]">
                                        <div class="w-full text-heading-1 font-semibold text-center">{{item.contentNumber}}</div>
                                        <div class="w-full border-b-4 border-primary-1 mt-1.5 mb-[14px]"></div>
                                        <div class="w-full text-header-2 font-medium text-center">{{item.contentType}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="relative w-full h-full flex items-end xl:h-[577px]">
                    <div class="relative w-full flex items-center justify-center">
                        <div
                            class="absolute w-full h-full top-0 left-0 bg-black bg-opacity-20 flex items-center justify-center">
                            <div
                                class="w-20 h-20 bg-primary-1 bg-opacity-[26%] flex items-center justify-center rounded-full top-0 left-0 border-[24px] border-opacity-[26%] border-primary-1">
                                <div
                                    class="w-[56px] h-[56px] bg-primary-1 flex items-center justify-center rounded-full top-0 left-0 border-[24px] border-opacity-[26%] border-primary-1">
                                    <div class="twi-25-play-fill text-[32px] leading-8 text-white"></div>
                                </div>
                            </div>
                        </div>
                        <div class="relative pt-[67.83%] w-full h-full flex items-center justify-center -z-10">
                            <img src="/assets/img/home/video.png" alt="Video" loading="lazy"
                                class="absolute lelf-0 top-0 w-full h-full object-cover">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="absolute w-full left-0 -top-[23px] pr-10 h-[674px] md:pr-12 md:-top-6 xl:-top-[97px]">
            <div class="h-full">
                <img src="/assets/img/home/seventh_fitness.png" alt="Under Text" loading="lazy"
                    class="h-full w-auto object-cover">
            </div>
        </div>
    </div>
</div>