<div class="w-full flex flex-col gap-8 py-6 px-4 md:px-8 shadow-[0_0_0_1px_#ffffff] shadow-neutral-2-200">
    <div class="w-full flex flex-col gap-8">
        <div class="w-full text-header-1 font-semibold text-primary-1 uppercase">{{job.position}}</div>
        <div class="w-full grid grid-flow-row grid-cols-1 gap-6 xl:grid-cols-2 xl:grid-rows-2 xl:grid-flow-col">
            <div class="flex gap-6 items-center">
                <div class="bg-neutral-3-100 rounded-full p-4"><div class="text-2xl leading-6 w-6 h-6" [class]="infoTitle[0].icon"></div></div>
                <div class="w-full flex flex-col gap-1">
                    <div class="text-title-1 font-semibold">{{infoTitle[0].title}}</div>
                    <div class="text-body-1 text-neutral-1-700">{{job.number | number:'2.0'}}</div>
                </div>
            </div>
            <div class="flex gap-6 items-center">
                <div class="bg-neutral-3-100 rounded-full p-4"><div class="text-2xl leading-6 w-6 h-6" [class]="infoTitle[1].icon"></div></div>
                <div class="w-full flex flex-col gap-1">
                    <div class="text-title-1 font-semibold">{{infoTitle[1].title}}</div>
                    <div class="text-body-1 text-neutral-1-700">{{job.wayToWork}}</div>
                </div>
            </div>
            <div class="flex gap-6 items-center">
                <div class="bg-neutral-3-100 rounded-full p-4"><div class="text-2xl leading-6 w-6 h-6" [class]="infoTitle[2].icon"></div></div>
                <div class="w-full flex flex-col gap-1">
                    <div class="text-title-1 font-semibold">{{infoTitle[2].title}}</div>
                    <div class="text-body-1 text-neutral-1-700">{{job.place}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full flex items-center justify-center xl:justify-end"><button class="py-[9px] px-[17px] text-primary-1 text-header-2 font-medium"><a href="{{job.link}}" class="w-full flex items-center justify-center"><p>Xem chi tiết</p></a></button></div>
</div>