

<main>
    <!-- subheader -->
    <section>
        <app-slider-banner></app-slider-banner>
        <app-home-sub-header></app-home-sub-header>
    </section>

    <!-- service -->
    <app-section-service></app-section-service>

    <!-- subscription -->
    <app-section-subscription (scrollToRegister)="scrollToRegister(register)"></app-section-subscription>

    <!-- PT -->
    <app-section-pt></app-section-pt>

    <!-- bg quot -->
    <app-section-quot></app-section-quot>

    <!-- form đăng ký tư vấn-->
    <app-section-register #register></app-section-register>

    <!-- tin tức và sự kiện -->
    <app-section-news></app-section-news>

</main>
