<section>
    <div [class.hidden]="!isOpen"
        class="popup-register fixed w-full h-screen bg-black/50 left-0 z-40 transition-all ease-out duration-300 top-0 xl:z-50">
        <div class="w-full h-full flex items-center justify-center px-4">
            <div class="relative bg-primary-1 text-white max-w-[446px]">
                <div class="flex flex-col relative z-10">
                    <div class="w-full p-2 pb-1 flex justify-end items-center">
                        <div (click)="togglePopup(false)" class="close-popup p-2 bg-white rounded-full cursor-pointer">
                            <div class="twi-25-close-fill text-xl leading-5 text-secondary-1"></div>
                        </div>
                    </div>
                    <div class="px-4 pb-[18px] md:px-8 md:pb-[42px]">
                        <div class="mb-4 uppercase text-heading-1 font-semibold w-full text-center">trải nghiệm tập miễn
                            phí</div>
                        <div class="mb-6 uppercase text-body-1 font-normal w-full text-center">ƯU ĐÃI LỚN NHẤT TRONG
                            THÁNG 8, HÃY THAM GIA NGAY</div>
                        <div class="mb-6 mx-auto text-heading-1 font-semibold flex justify-center w-full gap-2">
                            <ng-container *ngFor="let unit of timeUnit;let i = index; let isLast = last" >
                                <span class="flex flex-col items-center w-12"><span>{{timeNumber[i]}}</span><span
                                    class="uppercase text-body-1 font-normal opacity-60">{{unit}}</span></span> <span *ngIf="!isLast">:</span>
                            </ng-container>
                        </div>
                        <form action="" class="w-full flex flex-col gap-4 popup-register-form">
                            <input *ngFor="let input of inputs" type="{{input.type}}" name="{{input.name}}" id="{{input.id}}" placeholder="{{input.placeholder}}" [required]="input.required"
                                class="p-3 box-border border border-neutral-2-200 text-body-2 font-normal outline-none placeholder:text-neutral-1-400 text-secondary-1">

                            <div class="w-full mt-2 flex items-center justify-center">
                                <button type="button"
                                    class="px-6 py-[9px] text-header-2 font-medium bg-secondary-1 hover:bg-secondary-2 transition-all ease-out duration-300">
                                    Đăng ký ngay
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="absolute top-0 left-0">
                    <img src="/assets/img/header-footer/pattern_popup.png" class="w-full h-full">
                </div>
            </div>

        </div>
    </div>
</section>